



body {
	
	overflow: auto;
	border: 1px white solid;
	background-image: url("../background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Raleway"
}

body > * {

	text-align: center;
	border-radius: 5px 5px 5px;
	background-color: white;
	height: 50em;


}

@media only screen and (max-width: 700px) {
		.nav-bar{
			max-width: 
		}
    h1.name {
       	font-size: 1.5rem;
       	margin-left: 70px;
    }
    img {
    	margin-left: 100px;
    }
    .inspire-text {
    	display: none;
    }
    .inspire-button {
    	display: block;
    	left: 3em !important;
    	top:2em;
    	
    }
    .inspire-line {
			top: 0 !important;
    }
    .inspire-author {
			top: 0 !important;
    }
}
/*NAV BAR*/
.nav-bar {
	opacity: .9;
	display: inline-block;
	background-color: #7F7F68;
	position: fixed;
	height: 5em;
	width:50em;
	left: 50%;
	-webkit-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
	transform: translate(-50%,0);
	
}

.name {
	position: relative;
	top: -1em;
	left: 4em;
	width: 20em;
	margin: 0 0;
}
 img {
 	 position: relative;
 	 top:.8em;
 	 left: -18em;
 }
.icon {
	color: #7F7F7A;
	background-color: #FFFFF5;
	padding: 5px;
	border-radius: 25px 25px 25px;
}

li {
	display: inline-block;
}

.icons {
	font-size: 15px;
	position: relative;
	top:-3.5em;
	left:20em;
}

.icon:hover {
	background-color: #CCCCC4;
}

/*content */



hr {
	 width:40em;
	 margin: 3em auto;
	 border-color: rgba(127,127,122,1);
}

p {
	margin: 1em 5em;
}

h2 {
	margin-top: 2em;
	color: white;
	letter-spacing: 2px;
}

p {
	color: #FFFD9E;
}

.content {
	background-color: rgba(127,127,104,.5);
	margin-top: 5.2em;
	max-width:70rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10em;
	border: 1px rgba(127,127,104,.5) solid;
}

iframe {
	width:1200px;
	height: 1100px;
}

.project-tile {
	height: 2em;
	width: 25em;
	border-color: rgba(255,253,158,1);
	margin: 1em auto;
	border-style: dashed;
	
	padding-top: 1em;
	overflow: auto;
	
}

.project-tile:hover {
	border-style: solid;
	border-color: rgba(255,253,158,1);
}

a {
	text-decoration: none;
	font-color: rgba(255,253,158,1);
}





/*footer*/

.inspire-bar {
	opacity: .7;
	min-height: 20em;
	width: 100%;
	position: fixed;
	top: 30em;
	background-color: #FFFD9E;
}

.inspire-button {
	position: relative;
	left:-25em;
	background-color: #FFFD9E;
	border-color: #7F7F7A;
	border-style: dashed;

}

.inspire-button:hover {
	border-style: solid;
}

.inspire-text {
	font-size: 20px;
	color: #7F7F7A;
	
}

.inspire-line {
	font-size: 15px;
	position: relative;
	top: -2em;
	left: -2em;
	display: none;
}

.inspire-author {
	font-size: 15px;
	position: relative;
	top: -2em;
	left: -2em;
	display: none;
}